@media only screen and (min-width: 64rem) {


    nav button {
        display: none;
    }
    nav ul.hide{display: block;}

    nav ul {
        margin-left: 2%;
        padding: 0;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        border: none;
        /* border-right: 1px solid rgba(0, 0, 0, 0.3); */
        padding: .6rem 1rem;
    
    }


    footer {
        /* align-items: center; */
        /* justify-content: center; */
        /* display: flex; */
        margin-left: 200px;
        margin-right: 200px;
        height: 4em;
        text-align: center;

    
    }

} /*end large */